
body {

  background-color: #cccccc;


}

.App{
  text-align: center;
}

h1{
  color: blue;
  
}
.container{
  margin: 50px;
}

.todo-area{
 
  width: 300px;
  height: 200px;
  

}

.newbtn{
  margin: 5px;
  padding: 4px;
}

.bttn, .list{
  margin: auto;
}